[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
psycopg2-binary = "*"
python-dotenv = "~=1.0"
redis = "~=5.0"
django-cors-headers = "*"
django-extensions = "*"
gunicorn = "*"

[dev-packages]

[requires]
# python_version = "3.10"
